<script setup lang="ts">
import AddressBookForm from './AddressBookForm.vue';
import AddressBookList from './AddressBookList.vue';
</script>

<template>
  <div>
    <AddressBookForm></AddressBookForm>
    <AddressBookList></AddressBookList>
  </div>
</template>
<style scoped>
input, select, label, button{
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
</style>
