<script setup lang="ts">
import MessageList from '@/components/MessageList.vue'
import MessageBox from '@/components/MessageBox.vue'
import { ref, nextTick } from 'vue'
const messageList = ref<typeof MessageList | null>(null)
const messages = ref<string[]>([])
const answers = ['สวัสดีครับฮาฟู่', 'ไปเที่ยวมั้ยจ๊ะ', 'ทำไรยู้', 'บายไปละ']
function send(message: string){
  messages.value.push(message)
  answerWithCom()
}
function answerWithCom(){ 
  const answer = answers[Math.floor(Math.random()*10000)%answers.length]
  messages.value.push(answer)
  nextTick(() => {
    messageList.value?.updateUI()
  })
}

</script>

<template>
  <div>
    <MessageList ref="messageList" :messages = messages></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
